- content_for :title do
  =t ".title"

%h1=t ".title"

.well
  %dl
    %dt=t ".references"
    %dd= @resume.references
  %dl
    %dt=t ".courses"
    %dd= @resume.courses

%a.btn{ href: url_for(action: "edit_resume") }=t ".edit"

