!!!
-def t(*a) I18n.t(*a, :scope => :error_404) end
%html{:lang => I18n.locale}
  %head
    %meta{:charset => "utf-8"}
    %title
      =t :title
      \:(
    = stylesheet_link_tag "errors", :media => "all"

  %body
    .container
      %h1
        =t :title
        %span :(
      %p=t :text1
      %p=t :text2
      %ul
        %li=t :cause1
        %li=t :cause2
      :javascript
        var GOOG_FIXURL_LANG = "#{I18n.locale}",
            GOOG_FIXURL_SITE = location.host;
      %script{:src => "http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"}

