!!!
-def t(*a) I18n.t(*a, :scope => :error_500) end
%html{:lang => I18n.locale}
  %head
    %meta{:charset => "utf-8"}
    %title
      =t :title
      \:(
    = stylesheet_link_tag "errors", :media => "all"

  %body
    .container
      %h1
        =t :title
        %span :(
      %p=t :text1
      %p=t :text2

