#myCarousel.carousel.slide.carousel-fade
  .push-down
  .carousel-inner
    - @highlights.each_with_index do |h, i|
      .item{style: "background-image:url('#{h.image_url}')", class: (i == 0 ? "active" : nil)}
        .carousel-caption{class: (i % 2 == 1 ? "right": nil)}
          .container
            %h1= h.title
            %p.lead= h.description
  %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
    %i.icon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
    %i.icon-chevron-right
