-#%object{data: @logo.image_svg.url, title: @logo.name, height: "#{@logo.height}px", width: "#{@logo.width}px"}
%img{src:   @logo.image_png.url, alg:   @logo.name, style: "max-height:#{@logo.height}px;max-width:#{@logo.width}px"}
