.row-fluid
  .span9
    -#= render "shared/partners"
    - @sponsors.each_slice(3) do |ss|
      .row-fluid.marketing.thumbnails
        - ss.each do |s|
          .span4.sponsor
            %a.thumbnail{href: s.link? ? s.link : "#"}
              %img{ src: s.image.thumb.url, alt: s.title }
              %h3= s.title
              %p= s.content
              -# if s.link
                %p
                  %a.btn{:href => s.link}!=t ".more"
  .span3
    .well.sidebar-nav
      %ul.nav.nav-list
        %li.nav-header=t ".partners"
        - @partners.each do |p|
          %li
            %a{href: p.link}= p.name
