- content_for :title do
  =t ".title"

%h1=t ".title"

%div{style: "text-align: justify"}
  %p.lead Aenean vehicula luctus enim ac consectetur. Aliquam dictum ante ut odio scelerisque sagittis. Nunc mattis volutpat velit non tristique. Nam sagittis venenatis turpis quis euismod. Aliquam egestas, sapien vel interdum mollis, tellus quam mollis mi, eu volutpat est magna ut tellus. Sed et augue vitae urna blandit faucibus. Sed fringilla lorem nibh. Nunc sit amet posuere eros. Etiam elementum convallis tristique. Nullam ac arcu ut magna dapibus facilisis. Etiam a neque nec nibh tempus lacinia at a mauris. Aenean vel nibh tellus. Donec magna sapien, facilisis ac imperdiet eu, feugiat in ligula. Vivamus non orci magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

  %p Nunc at nisi id tellus sodales semper id vel lorem. Nunc iaculis, diam a placerat pellentesque, eros purus facilisis libero, sit amet scelerisque arcu ante non libero. Quisque lectus arcu, gravida vitae malesuada sit amet, ultrices vitae nibh. Sed bibendum, arcu lacinia scelerisque venenatis, metus turpis commodo urna, in dignissim ante velit at purus. Proin est quam, feugiat a vestibulum in, rutrum eget purus. Morbi congue, justo porta adipiscing sollicitudin, urna mauris iaculis neque, a bibendum odio sapien a nisi. Nulla eu turpis erat, et eleifend nulla. Quisque congue ornare nisi nec vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla pharetra leo non quam vestibulum non posuere erat luctus. Duis luctus libero ut mi ullamcorper ut pulvinar libero feugiat. Nam nunc felis, commodo non suscipit vel, egestas id quam.

  %p Aliquam ut nibh ipsum, tempor consequat erat. Suspendisse quis euismod tortor. Etiam non ultrices sem. Curabitur eros turpis, scelerisque imperdiet pharetra et, vehicula eget diam. Nulla vitae libero ac lorem porttitor semper. Quisque in nibh sem, scelerisque condimentum sem. Nulla a urna augue, sed iaculis enim. Mauris auctor commodo leo, in laoreet augue lacinia at. Etiam sodales posuere tempor. Nulla ac mi erat. Vestibulum bibendum justo vitae nulla bibendum scelerisque. Praesent purus erat, accumsan nec eleifend in, consectetur et ligula. Cras semper eleifend eros, quis convallis felis suscipit sit amet. Phasellus id metus mauris. Sed lacinia eros at augue facilisis facilisis.
