- content_for :title do
  =t ".title"

%h1=t ".title"

%table.table.table-bordered.table-hover
  %tr
    %th=t ".student"
    %th &nbsp;
  - @resumes.each do |r|
    %tr
      %td= r.user.name
      %td
        %a{ href: url_for(company_user_resume_path r) }=t ".resume"
