- content_for :title do
  = @resume.user.name

.row-fluid
  .span3
    .sidebar-nav.well
      = render 'users/menu'

  .span9
    %h1.resume-title
      - unless @resume.nil? or @resume.image.url.nil?
        %img.img-rounded{src: @resume.image.thumb.url, alt: @resume.user.name, }
      = @resume.user.name

    .well
      = render "resumes/show"
