- content_for :title do
  =t ".title"

%h1=t ".title"

%div{style: "text-align: justify"}
  %p.lead Integer ullamcorper justo in metus pulvinar venenatis. Nullam sed est lacus, vel blandit ante. Pellentesque luctus, velit vel ultricies ultrices, neque neque eleifend massa, eget ultricies justo augue in tellus. Pellentesque ultrices posuere tincidunt. In aliquet felis eu sapien venenatis aliquam varius augue convallis. Morbi dapibus tempor nibh eu fringilla. Quisque porta ornare magna, fringilla ornare elit feugiat et. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce felis eros, facilisis non lacinia vel, elementum ut nisi. Duis hendrerit tristique est id blandit. In arcu massa, scelerisque non pretium in, pellentesque sed nulla. Sed faucibus lacinia purus, ac blandit lectus aliquet vel. Quisque egestas ultrices ullamcorper.

  %p Quisque at felis sem, non egestas diam. Fusce interdum dignissim gravida. Quisque mattis elementum erat in tempor. Integer ipsum est, molestie pellentesque commodo ut, sodales nec tortor. Quisque eu purus sapien, id ullamcorper ante. Aliquam nisl dui, hendrerit et suscipit eget, molestie a urna. Duis ullamcorper ultricies quam, vel egestas urna mattis vitae.

  %p Cras eleifend arcu sit amet magna placerat eu porta risus euismod. Etiam blandit convallis ornare. Vivamus a libero in orci aliquam viverra varius id sapien. Morbi egestas euismod odio eu venenatis. Nam volutpat eros eget turpis dictum ultricies. Pellentesque viverra sagittis lacinia. Aliquam sapien elit, semper vitae laoreet a, consectetur ac nisl. Cras in sapien sed enim sodales feugiat sed id tortor. Cras vitae ligula est, pellentesque venenatis magna. Mauris commodo nulla eget justo pharetra eget ultrices elit consequat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut interdum justo eu purus accumsan ut placerat massa viverra. Suspendisse potenti. Sed mauris massa, aliquam ac sagittis quis, facilisis quis neque. Donec sed est massa, sit amet convallis nisl.
