#galleria
  height: 500px
  margin:
    top: 0
    bottom: 0
  //@media (min-width: 1200px)
    //height: 500px
  @media (max-width: 979px)
    height: 450px
  @media (max-width: 767px)
    height: 350px
