@import compass
@import url(http://fonts.googleapis.com/css?family=Droid+Sans)

$blue: #3e4095
//$lblue: lighten($blue, 30%)
$dblue: darken($blue, 10%)
$ddblue: darken($blue, 20%)
$blue2: hsl(hue($blue) - 20deg, 100%, 70%)
$lblue2: lighten($blue2, 8%)
$dlblue2: desaturate(darken($lblue2, 8%), 27%)
$dblue2: darken($blue2, 5%)
$blue12: mix($blue, $blue2, 66%)
// tones of white
$white: #fff
$white2: #f2f2f2
$white12: mix($white, $white2)
// shades of grey
$lgrey: #ddd
$llgrey: #eee

$bgcolor: $llgrey

=gradient($start, $stop)
  background-color: mix($start, $stop)
  +background-image(linear-gradient(top, $start, $stop))
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr='") + ie-hex-str($start) + unquote("', endColorstr='") + ie-hex-str($stop) + unquote("',GradientType=0)")

// GLOBAL STYLES
  --------------------------------------------------

// Padding below the footer and lighter body text
body
  color: #5a5a5a
  background-color: $white2

// basic padding for pages
.main
  padding:
    top: 40px
    bottom: 40px

.alert
  margin:
    top: 15px
    bottom: 15px

// CUSTOMIZE THE NAVBAR
  --------------------------------------------------

.nav-footer
  //margin-top: 80px
  border-style: solid
  border-width: 1px 0 0
  border-color: $blue12
  //border-color: $lgrey
  background-color: $white12
  //+background-image(linear-gradient(top, $white2, $white))
  background-repeat: repeat-x
  +box-shadow(inset 0px 1px 10px rgba(0, 0, 0, 0.1))
  & > .container
    padding:
      top: 40px
      bottom: 20px

// Special class on .container surrounding .navbar, used for positioning it into place.
.navbar-wrapper
  position: absolute
  top: 0
  left: 0
  right: 0
  z-index: 20
  //margin-top: 20px
  //margin-bottom: -90px
  // Negative margin to pull up carousel. 90px is roughly margins and height of navbar.

// Fix .navbar-text
.navbar-text
  padding: 15px 20px 15px
  line-height: 20px

.navbar.navbar-integracao
  .navbar-inner
    padding: 0px
    min-height: 72px
    border-color: $blue12
    background-color: $white12
    //+background-image(linear-gradient(top, $white, $white2))
    background-image: none
    //background-color: $bgcolor
    //& > .container
      //background-color: $white12

  // Enforce correct pulling on .navbar
  .pull-right
    float: right
  .pull-left
    float: left

  // Fixing icon-reorder on .btn-navbar
  .btn-navbar
    padding: 3.5px 10px 1.5px
    margin: 3px 5px 6px
    +text-shadow(1px 1px 1px rgba(0, 0, 0, 0.251))
    &, &:hover
      color: $blue
    i
      line-height: 17px
      font-size: 17px

  .left-side-img, .right-side-img
    background-repeat: no-repeat
    position: absolute
  .left-side-img
    background-image: url(image-path("sidel.png"))
    width: 40px
    height: 36px
    left: -39px
  .right-side-img
    background-image: url(image-path("sider.png"))
    width: 40px
    height: 72px
    right: -29px
    top: -36px
  .svg & .left-side-img
    background-image: url(image-path("sidel.svg"))
  .svg & .right-side-img
    background-image: url(image-path("sider.svg"))

  .menu-row .nav
    //background-color: mix($dblue, $ddblue)
    //+background-image(linear-gradient(top, $dblue, $ddblue))
    //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF3E4095', endColorstr='#FF2F3171', GradientType=0)
    +border-radius(0)
    +gradient($dblue, $ddblue)
    max-height: 36px
    //border: solid mix($blue, $blue2)
    //border-width: 0 0 1px
    //margin-bottom: -1px
    //$rad: 6px
    //+border-top-radius($rad)
    //& > li:first-child > a
      //+border-top-left-radius($rad)
    //& > li:last-child > a
      //+border-top-right-radius($rad)
    & > li > a
      color: #eee
      +text-shadow(1px 1px 2px black)
    & > li.dropdown.open > .dropdown-toggle
      background-color: $lblue2
      color: #333
      +background-image(linear-gradient(top, $lblue2, $dlblue2))
      +text-shadow(-1px 1px 2px white)

  .user-row
    padding-right: 10px

  .nav > li > a
    padding: 8px 15px 8px

  .dropdown-menu li > a:hover,
  .dropdown-menu li > a:focus,
  .dropdown-submenu:hover > a,
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .dropdown-menu a:hover
    background-color: mix($blue, $dblue)
    +background-image(linear-gradient(top, $blue, $dblue))
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF3E4095', endColorstr='#FF2F3171', GradientType=0)

  // properly position inputs on top login form
  .navbar-form input
    margin:
      top: 3px
      bottom: 3px
  .navbar-form .btn-group
    margin:
      top: 0

  // fix icon-xxxx on .navbar
  .dropdown-toggle i
    line-height: 20px

  // CUSTOMIZE THE BRAND  
  .brand
    //min-height: 100%
    padding: 10px 10px 0
    margin: 0 0 -1px
    color: $blue
    font-size: 26px
    font-family: 'Droid Sans', sans-serif
    //border: solid $blue
    //border-width: 0 0 1px
    +text-shadow(1px 1px 2px rgba(0,0,0,0.3))
    //span
      //margin: 8px 100px 0px 20px
      //padding-top: 8px
    u, span
      vertical-align: top
    u
      color: $blue2
      text-decoration: none
    img
      margin: -14px 0 -4px

// div to push the navbar down when nothing bellow
.push-down
  height: 72px

// CUSTOMIZE THE MODAL WINDOW
  --------------------------------------------------

.modal > form
  margin: 0

.controls
  input[type=checkbox]
    margin-top: -2px

.nav.nav-footer
  margin-bottom: 0
  a
    padding: 6px
    font-size: 14px


// CUSTOMIZE THE CAROUSEL TRANSITION
  --------------------------------------------------

.carousel.carousel-fade
  .item
    +transition(opacity 2s ease-in-out)

  .active.left,
  .active.right
    left: 0
    z-index: 2
    +transparent

  .next,
  .prev
    left: 0
    z-index: 1

  .carousel-control
    z-index: 3

// CUSTOMIZE THE NAVBAR
  --------------------------------------------------

.carousel-control
  height: 40px
  margin-top: 0
  font-size: 40px
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4)
  background-color: transparent
  border: 0
  z-index: 15
  top: 230px

// Carousel base class
.carousel
  margin:
    top: 0
    bottom: 0

  .item
    height: 500px
    background-position: center
    background-repeat: no-repeat
    //TODO make this work on IE
    +background-size(cover)

  img
    position: absolute
    top: 0
    left: 0
    min-width: 100%
    height: 500px

.carousel-caption
  background-color: transparent
  position: absolute !important
  &.right
    text-align: right
  // this class is actually useless but
     it's nice to have a counterpart
  &.left
    text-align: left

  .container
    +box-sizing(border-box)
    z-index: 10
    padding:
      left: 60px
      right: 60px
      bottom: 20px

  h1, .lead
    margin: 0
    line-height: 1.25
    color: #fff
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4)

  .btn
    margin-top: 10px

// MARKETING CONTENT
  --------------------------------------------------

// Center align the text within the three columns below the carousel
.marketing
  .span4
    text-align: center
    h2
      font-weight: normal
    p
      margin:
        left: 10px
        right: 10px
    img
      margin: auto

// Featurettes
  -------------------------

.featurette-divider
  margin: 80px 0
  // Space out the Bootstrap <hr> more

.featurette
  padding-top: 120px
  // Vertically center images part 1: add padding above and below text.
  overflow: hidden
  // Vertically center images part 2: clear their floats.

.featurette-image
  margin-top: -120px
  // Vertically center images part 3: negative margin up the image the same amount of the padding to center it.

  // Give some space on the sides of the floated elements so text doesn't run right into it.
  &.pull-left
    margin-right: 40px
  &.pull-right
    margin-left: 40px

// Thin out the marketing headings
.featurette-heading
  font-size: 50px
  font-weight: 300
  line-height: 1
  letter-spacing: -1px

// RESPONSIVE CSS
  --------------------------------------------------

@media (min-width: 1200px)
  .navbar .nav > li > a
    padding:
      left: 20px
      right: 20px


@media (max-width: 979px)
  .navbar.navbar-integracao
    .row
      margin-left: 0
    .brand
      position: absolute
    .multi-row
      width: 100%
    .menu-row .nav
      margin: 0 0 -2px
      border: solid $blue12
      border-width: 1px 0 0
      +border-top-radius(0)
      & > li:first-child > a
        +border-top-left-radius(0)
      & > li:last-child > a
        +border-top-right-radius(0)
    .nav-collapse .nav > li > a,
    .nav-collapse .dropdown-menu a
      color: #eee
      font-weight: normal
    .navbar-inner
      border-color: mix($blue, $blue2)
    .left-side-img, .right-side-img
      display: none

  .container
    width: auto
    //.container.navbar-wrapper
      margin-bottom: 0
      width: auto
    //.navbar-inner
      border-radius: 0
      margin: -20px 0
  .carousel-control
    top: 205px
  .carousel
    margin-bottom: 20px
    .item
      height: 450px
    img
      width: auto
      height: 450px
  .featurette
    height: auto
    padding: 0
  .featurette-image
    &.pull-left, &.pull-right
      display: block
      float: none
      max-width: 40%
      margin: 0 auto 20px

@media (max-width: 767px)
  body
    padding:
      left: 0
      right: 0
  .navbar
    margin: 0
  .carousel-control
    top: 155px
  .carousel
    .item
      height: 350px
    img
      height: 350px
  .carousel-caption
    h1
      font-size: 30px
    .lead, .btn
      font-size: 18px
  .marketing .span4 + .span4
    margin-top: 40px
  .featurette-heading
    font-size: 30px
  .featurette .lead
    font-size: 18px
    line-height: 1.5
  body > .container, footer > .container
    padding:
      left: 20px
      right: 20px


// Footer logos
.logos
  padding-bottom: 20px
  object, img
    margin: 4px
    //vertical-align: top
