%p Olá #{@resource.name}!
%p Alguém requisitou um link para mudar sua senha. Você pode mudá-la através do link abaixo.
%p= link_to 'Mudar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Se você não requisitou este link, por favor ignore este email.
%p
  %b Sua senha não irá mudar a não ser que você acesse o link acima e defina uma nova senha.
