- [:professional_experiences, :voluntary_experiences, :language_experiences, :project_experiences, :notable_experiences, :publication_experiences, :course_experiences].each do |att|
  %h2=t att, scope: "resumes.form"
  - @resume.method(att).().each do |e|
    %hr
    %dl.dl-horizontal
      - e.attributes.each do |a, v|
        - unless a == "_id"
          %dt=t a, scope: "activemodel.attributes.#{att}"
          - unless v.nil? || v == ""
            %dd= v
          - else
            %dd &nbsp;
  %hr.dark
